@media (min-width: 535px) and (max-width: 824px){
	[class*="col-"]{
		width: 100%;
	}

	body{
		background: black;
		font-family: 'Lobster', cursive;
		color: white;
	}
	img{
		border: 6px solid white;
	}
}

@media(min-width: 200px) and (max-width: 534px){
	[class*="col-"]{
		width: 100%;
	}
	body{
		background: #07B399;
		font-family: 'Indie Flower', cursive;
		color: #DFDFDF;
	}
	img{
		display: none;
	}
}